<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.materialdesignapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".part4.DetailsWallpaperActivity"
            android:theme="@style/AppTheme_Wallpaper"></activity>
        <activity
            android:name=".part4.HomeWallpaperActivity"
            android:theme="@style/AppTheme_Wallpaper"></activity>
        <activity
            android:name=".part4.IntroWallpaperActivity"
            android:theme="@style/AppTheme_Wallpaper"></activity>
        <activity
            android:name=".part3.PlayVideoMusicActivity"
            android:theme="@style/AppTheme_Music" />
        <activity android:name=".part3.PlayListMusicActivity" />
        <activity
            android:name=".part3.HomeMusicActivity"
            android:theme="@style/AppTheme_Music"></activity>
        <activity
            android:name=".part3.LoginMusicActivity"
            android:theme="@style/AppTheme_Music" />
        <activity
            android:name=".part2.DetailFoodActivity"
            android:theme="@style/AppTheme_Food" />
        <activity
            android:name=".part2.HomeActivityFood"
            android:theme="@style/AppTheme_Food">

        </activity>
        <activity
            android:name=".part1.DetailBookActivity"
            android:theme="@style/AppTheme_Ebook_normal" />
        <activity
            android:name=".part1.HomeEbookActivity"
            android:theme="@style/AppTheme_Ebook_normal" />
        <activity
            android:name=".part1.LoginEbookActivity"
            android:theme="@style/AppTheme_Ebook_FullScreen" />
    </application>

</manifest>